.menu-btn {
  position: fixed;
  top: 14px;
  left: 14px;
  width: 44px;
  height: 44px;
  font-size: 20px;
  border: none;
  border-radius: 12px;
  background: #6a5acd;
  color: white;
  cursor: pointer;
  z-index: 1000;
}

body {
  font-family: arial;
  background: #e2a6f5;
  color: #ed325e;
  text-align: center;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin: 20px 0;
}

.controls button {
  font-size: 18px;
  width: 48px;
  height: 48px;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background: #6a5acd;
  transition:
    transform 0.2s,
    background 0.2s;
}

.controls button:hover {
  background: #7b6cff;
  transform: scale(1.1);
}

#progress {
  width: 80%;
}
li {
  list-style: none;
  padding: 8px;
  cursor: pointer;
}
li:hover {
  background-color: #d376f5;
}
#playlistBtn {
  padding: 8px 15px;
  border-radius: 8px;
  border: none;
  background: #6a5acd;
  color: white;
  cursor: pointer;
}
.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background: #1e1e2f;
  padding: 70px 20px 20px;
  transition: left 0.3s ease;
  z-index: 999;
  overflow-y: auto;
}

.sidebar.show {
  left: 0;
}

#searchInput {
  width: 85%;
  padding: 10px 14px;
  margin-bottom: 0 auto 20px auto;
  display: block;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 14px;
  background: #2a2a3d;
  color: white;
}

#searchInput::placeholder {
  color: #aaa;
}

#playlist li {
  color: white;
  padding: 10px 12px;
  margin-bottom: 6px;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.2s;
}

#playlist li:hover {
  background: #3a3a55;
}

#playlist li.active {
  background: #6a5acd;
}
#playlistContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background: #1e1e2e;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

#playlistContainer.show {
  transform: translateX(0);
}
