body {
  font-family: arial;
  background: #e2a6f5;
  color: #ed325e;
  text-align: center;
}
button {
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background: #6a5acd;
}
#progress {
  width: 80%;
}
li {
  list-style: none;
  padding: 8px;
  cursor: pointer;
}
li:hover {
  background-color: #d376f5;
}
#playlistContainer {
  display: none;
}
#playlistBtn {
  padding: 8px 15px;
  border-radius: 8px;
  border: none;
  background: #6a5acd;
  color: white;
  cursor: pointer;
}
